@import "tailwindcss";
@plugin "daisyui" {
  /* themes: light --default, dark --prefersdark; */
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3b8132;
  --color-secondary: teal;
}
.btn-primary {
  @apply bg-gradient-to-r from-sky-800 to-sky-400 text-white font-semibold px-2 sm:px-5 py-2 rounded-lg transition-transform duration-200 hover:scale-105;
}

.heading-primary {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-sky-500 to-sky-300;
}
a.active {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-sky-800 to-sky-500;
}
