@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3b8132;
  --color-secondary: teal;
  --color-base-100: oklch(98% 0.02 240);
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
.btn-primary {
  @apply bg-gradient-to-r from-sky-800 to-sky-400 text-white font-semibold px-2 sm:px-5 py-2 rounded-lg transition-transform duration-200 hover:scale-105;
}

.heading-primary {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-green-900 to-green-500;
}
a.active {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-sky-950 to-sky-800;
  text-decoration: underline;
}
